<h1>Select Table</h1>

<%= form_tag(root_path, method: :get) do %>
  <%= select_tag(:table_name, options_for_select(@table_names), prompt: 'Select a table') %>
  <%= submit_tag('Show') %>
<% end %>

<% if @products %>
  <h2>Selected Table: <%= @selected_table %></h2>

  <% if @products.any? %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <% @products.first.keys.each do |column_name| %>
              <th><%= column_name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <% product.each do |_, value| %>
                <td><%= value %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>No records found.</p>
  <% end %>
<% end %>

<style>
  .table-container {
    overflow-x: auto;
    max-width: 100%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
</style>
